@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add any custom styles here */
html, body {
    height: 100%;
    margin: 0;
    background-color: #000; /* Ensure the background is dark */
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fadeInUp {
    animation: fadeInUp 1s ease-out forwards;
    opacity: 0; /* Ensure elements are hidden initially */
}

@keyframes colorChange {
    0%, 100% {
        color: #00BFFF; /* 90s blue */
    }
    50% {
        color: #FF69B4; /* 90s pink */
    }
}

.animate-colorChange {
    animation: colorChange 5s infinite;
}

.shadow-bright {
    box-shadow: 0 4px 6px -1px rgba(255, 255, 255, 0.1), 0 2px 4px -1px rgba(255, 255, 255, 0.06);
}

.tile-hover-effect:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    border-image: linear-gradient(to right, #FF69B4, #00BFFF) 1;
}